---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">Inicio</h1>
  </li>
<li><a class="post-link" href="#">
      <h2 class="post-title">Informacion Academica y laboral</h2>
    </a>  
<p><b>Vida academica y Laboral</b><br>
<h2> </h2>
 Me gradué de Bachiller Técnico en Sitemas Computacionales en el Colegio Fiscal Vicente Rocafuerte
<br>Siempre he sacaba buenas calificaciones en el Colegio,  iba a talleres de robótica dónde aprendí a usar Arduino  y participaba en las ferias de científicas que realizaba mi Colegio.
<h2> </h2>
<br>Durante las pasantías trabajé durante 1 mes en el área técnica de Sicobra S.A donde realizaba labores de mantenimiento de hardware y sofware a las máquinas de la empresa .
<h2> </h2>
Actualmente me encuentro cursando la carrera de Ingeniería en Sofware en la Universidad de Guayaquil , me encuentro en primer semestre y con muchas ganas de aprender</p>
           
</div>
  </li>
  
<div class="badges" style="background-position-x: center;">
            
          </div>

{%- endif -%}
