---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">Inicio</h1>
  </li>
<li><a class="post-link" href="#">
      <h2 class="post-title">Hola, bienvenidos...</h2>
    </a>
    
    <div class="post"><p>Soy Jeanfranco Intriago Santana, tengo 19 años de edad. 

Estudié en la escuela Victor Emilio Estrada, donde inicie y termine mis estudios.

La secundaria la Curse en el Glorioso Colegio Vicente Rocafuerte, ingresando en la promoción en la cual el colegio se volvió mixto. Durante mi período como estudiante recibí varios reconocimientos por obtener buenas calificaciones. Me gradue como Bachiller En Ciencias. Actualmente estudió en la Universidad de Guayaquil, en donde curso la Carrera de Ingeniería en Software.</p>

<p><b>Vida academica y Laboral</b><br>Soy Jeanfranco Intriago Santana, tengo 19 años de edad. 

Estudié en la escuela Victor Emilio Estrada, donde inicie y termine mis estudios.
<br>La secundaria la Curse en el Glorioso Colegio Vicente Rocafuerte, ingresando en la promoción en la cual el colegio se volvió mixto. Durante mi período como estudiante recibí varios reconocimientos por obtener buenas calificaciones. 

<br>Me gradue como Bachiller En Ciencias.

Actualmente estudió en la Universidad de Guayaquil, en donde curso la Carrera de Ingeniería en Software.</p>
           
</div>
  </li>
  
<div class="badges" style="background-position-x: center;">
            
          </div>

{%- endif -%}
